.info-video {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {

    video {
      width: 100%;
      height: 600px;
      margin: 200px 0;
      cursor: pointer;
    }

    &-image {
      cursor: pointer;
      margin-bottom: 100px;
    }

    &-information {
      display: flex;
      justify-content: space-around;

      li {
        color: #01353E;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        font-family: Roboto Condensed, sans-serif;

        span {
          display: block;
          color: #242121;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
        }
      }
    }
  }
}