.blog {
  height: 100vh;

  &__slide {
    position: relative;

    &-text {
      position: absolute;
      right: 360px;
      top: 304px;
      z-index: 100;
      color: #ffffff;
      font-family: Roboto Condensed, sans-serif;
      max-width: 600px;

      &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
      }

      &__subtitle {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
    }
  }

  .slick-slider {
    button.slick-arrow {
      display: none;
    }

    .slick-dots {
      position: relative;
      bottom: 115px;

      li {

        &.slick-active {
          button::before {
            color: #00B2A0;
          }
        }

        button::before {
          font-size: 10px;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}