@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}